/* body {
  padding: 100px !important;
  background-color: #d6d9dd;
}

.mt20{
  margin-top: 20px !important;
} */

.Snackbar_snackbar-wrapper-top-right__2CAmf{
  z-index: 11001 !important;
  font-weight: 500;
}